@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?smpc0s');
  src:  url('fonts/icomoon.eot?smpc0s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?smpc0s') format('truetype'),
    url('fonts/icomoon.woff?smpc0s') format('woff'),
    url('fonts/icomoon.svg?smpc0s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="picon-"], [class*=" picon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.picon-11:before {
  content: "\e900";
}
.picon-4:before {
  content: "\e901";
}
.picon-13:before {
  content: "\e902";
}
.picon-1:before {
  content: "\e903";
}
.picon-7:before {
  content: "\e904";
}
.picon-14:before {
  content: "\e905";
}
.picon-6:before {
  content: "\e906";
}
.picon-19:before {
  content: "\e907";
}
.picon-5:before {
  content: "\e908";
}
.picon-10:before {
  content: "\e909";
}
.picon-15:before {
  content: "\e90a";
}
.picon-8:before {
  content: "\e90b";
}
.picon-2:before {
  content: "\e90c";
}
.picon-9:before {
  content: "\e90d";
}
.picon-17:before {
  content: "\e90e";
}
.picon-3:before {
  content: "\e90f";
}
.picon-12:before {
  content: "\e910";
}
.picon-18:before {
  content: "\e911";
}
.picon-16:before {
  content: "\e912";
}
.picon-20:before {
  content: "\e913";
}